*.shader linguist-documentation=false
*.cginc linguist-documentation=false
*.mat linguist-documentation=false
*.mat linguist-vendored
*.meta linguist-vendored
*.prefab linguist-vendored
*.unity linguist-vendored
*.asset linguist-vendored
